*.pyc
*.egg-info
.coverage
env/
setenv.sh
**/.DS_Store
client/APIChallenge/APIChallenge.xcodeproj/project.xcworkspace/xcuserdata/yifanying.xcuserdatad/UserInterfaceState.xcuserstate
testDB.py
client/APIChallenge/APIChallenge.xcodeproj/xcuserdata/yifanying.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
